// #Intro

#intro {
	z-index: 2;
	position: relative;
	@include size(100vw, 100%);

	#logo {
		@include position(absolute, top 50% left 50%);
		transform: translate(calc(-50% + 30px),-50%);
		width: 30vw;
		min-width: 250px;
		opacity: 0;

		#img{
		  position:absolute;
		  left:0;
		  top:0;  
		  @include size(100%, auto);  
		}
	}

	.scroll-indicator {
		@include position(absolute, bottom 0 left 60px);
		width: calc(100% - 60px);
		text-align: center;

		.hint {
			font-family: $bfont;
			font-weight: $semi;
			font-size: 12px;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1em;
			opacity: 0;
		}

		.line {
			height: 14vh;
			width: 1px;
			background: $white;
			display: block;
			margin: 5vh auto -20px;
			opacity: 0;
		}
	}
}