// #Intro

#intro {
	z-index: 2;
	position: relative;
	@include size(100vw, 100vh);

	#logo {
		@include position(absolute, top 50% left 50%);
		transform: translate(calc(-50% + 30px),-50%);
		transition: width .35s ease-in-out;
		width: 480px;

		@include mq(tablet,max) {
			width: 400px;
		}

		@include mq(tablet-small,max) {
			width: 300px;
		}

		.logo {
			opacity: 0;
			width: 100%;
			display: block;			
		}

		&.done {
			top: -10%!important;
    	filter: blur(10px)!important;
		}
	}

	.scroll-indicator {
		@include position(absolute, bottom 0 left 60px);
		width: calc(100% - 60px);
		text-align: center;

		.hint {
			font-family: $bfont;
			font-weight: $norm;
			font-size: 12px;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1em;
		}

		.line {
			height: 14vh;
			width: 1px;
			background: $white;
			display: block;
			margin: 5vh auto -20px;
			opacity: 0;
		}
	}
}