// #Preloader

@include keyframe(blink) {
  0% {
    opacity: 0;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

#preloader {
	@include position(fixed, top 0 left 0);
	background: $black;
	z-index: 9999999;
	overflow: hidden;

	.percentage-loader {
		display: none;
		@include position(absolute, bottom 30px left 40px);
		font-family: $bfont;
		font-weight: $bold!important;
		font-size: 40px;
		color: $white;

		.percent {
			margin-left: -6.5px;
		}
	}

	.progress-loader {
		@include position(fixed, top 50% left 50%);
		@include size(1%, 1%);
		z-index: 20;

		.bar {
			display: block;
			@include size(100%, 100%);
			background-image: url('../assets/img/static.gif');
			background-size: auto;
			background-position: center;
			background-repeat: repeat;
			filter: blur(.3px);
		}
	}

	.shut-off {
		@include position(fixed, top 50% left 50%);
		z-index: 30;
		display: block;
		opacity: 0;
	}
}