// #Text-Variables
$hfont  	 : 'Forever Freedom', sans-serif;
$hfontalt  : 'Forever Freedom Outline', sans-serif;
$bfont  	 : 'Galano Grotesque', sans-serif;

$font-weight-light : 300;
$font-weight-norm  : 400;
$font-weight-semi  : 600;
$font-weight-bold  : bold;

$white	: #ffffff;
$black 	: #000000;

$inherit : inherit;
$trans	 : transparent;

$trans-fast  : all 150ms ease-in-out;
$trans-slow  : all 300ms ease-in-out;
$trans-cubic : cubic-bezier(0.48, 0.96, 0.57, 1.02);


// #Breakpoints
$breakpoints: (
  'large':  ( max-width: 1200px )
);


// #File-Paths
$path-img  : '../../assets/img';
$path-font : '../../assets/fonts';

$breakpoint-tablet: 1200px;
